<div>
    <img ng-if="data.content.get('thumbnail')" ng-src="{{data.content.get('thumbnail')._url}}" alt="..."
         class="img-rounded">
    <h4 class="panel-title">{{data.content.get('title')}}</h4>
</div>