<div>
    <a ng-init=" u=data.content.get('video')" ng-if="u" ng-src="{{data.content.get('video')._url}}">
        <img ng-if="data.content.get('thumbnail')" ng-src="{{data.content.get('thumbnail')._url}}" alt="..."
             class="img-rounded">
    </a>

    <h4 class="panel-title">{{data.content.get('title')}}</h4>
</div>