<div class="container">
    <div class="row">

        <form class="form-inline">
            <div class="form-group">
                <label for="dintUpload">select file to continue </label>
                <input type="file" class="form-control" id="dintUpload" accept="text/csv">
            </div>

            <button class="btn btn-default" ng-click="start()">Start</button>
            <button class="btn btn-default" ng-click="clear()">Clear</button>
        </form>

    </div>
    <div class="row">

        <table class="table table-responsive table-striped">
            <tr>
                <th class="col-md-2">user</th>
                <th class="col-md-1">type</th>
                <th class="col-md-2">title</th>
                <!--<th>access</th>-->
                <!--<th>location</th>-->
                <!--<th>tags</th>-->
                <th class="col-md-1">datePosted</th>
                <th class="col-md-6">contents</th>
            </tr>
            <tr ng-repeat="item in importedData">
                <td>{{item.user}}</td>
                <td>{{item.type}}</td>
                <td>{{item.title}}</td>
                <!--<th>{{item.access}}</th>-->
                <!--<th>{{item.location}}</th>-->
                <!--<th>{{item.tags}}</th>-->
                <td>{{item.datePosted}}</td>
                <td ng-include="'templates/content-import/'+item.type+'.html'" >
                    <div class="container">
                        <a ng-href="{{item.thumbnail}}">download</a>
                        <file ng-model="item.thumb">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" ng-if="importedData.length">
        <button class="btn btn-info" ng-click="import()">Import</button>
    </div>
</div>