<div class="modal fade" id="userEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <h4 class="page-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        Create User
                    </h4>

                    <form role="form" class="form-horizontal" style="display: block;" name="validForm"
                          novalidate>
                        <div class="form-group" style="display: block;">
                            <label class="control-label col-sm-3">Name</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" style="display: block;" required
                                       ng-model="User.displayName" placeholder="Name"
                                       name="displayName">
                                <span class="badge badge-danger"
                                      ng-show="(validForm.$submitted || validForm.displayName.$touched)&&validForm.displayName.$error.required">require</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group" style="display: block;">
                                <label class="control-label col-sm-3">Username</label>

                                <div class="col-sm-9">
                                    <input required ng-model="User.username" type="text" class="form-control"
                                           name="username" id="username" style="display: block;"
                                           placeholder="username">
                                    <span class="badge badge-danger"
                                          ng-show="(validForm.$submitted || validForm.username.$touched)&&validForm.username.$error.required">username require
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group" style="display: block;">
                                <label class="control-label col-sm-3">Password</label>

                                <div class="col-sm-9">
                                    <input required ng-model="User.password" type="password" class="form-control"
                                           name="password" id="password" style="display: block;"
                                           placeholder="password" data-mask="[a-zA-Z0-1\.]+"
                                           data-is-regex="true"
                                           autocomplete="off">
                                    <span class="badge badge-danger"
                                          ng-show="(validForm.$submitted || validForm.password.$touched)&&validForm.password.$error.required">require
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="display: block;">
                            <label class="control-label col-sm-3">E-mail</label>

                            <div class="col-sm-9">
                                <input type="email" class="form-control" style="display: block;" required
                                       ng-model="User.email"
                                       name="email">
                                <span class="badge badge-danger"
                                      ng-show="(validForm.$submitted || validForm.email.$touched)&&validForm.email.$error.required">require</span>
                                <span class="badge badge-danger"
                                      ng-show="(validForm.$submitted || validForm.email.$touched)&&validForm.email.$error.email">email invalid</span>
                            </div>
                        </div>
                        <div class="form-group" style="display: block;">
                            <label class="control-label col-sm-3">Phone</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" style="display: block;"
                                       ng-model="User.phone"
                                       name="phone" id="phone">
                            </div>
                        </div>


                        <div class="container-fluid text-right bottom-fixe" style="margin-bottom: 10px">
                            <button data-dismiss="modal" class="btn btn-default" type="button">
                                Cancel
                            </button>
                            <button id="save" class="btn btn-primary" type="button"
                                    ng-click="saveUser(User)">
                                Save
                            </button>
                            <button id="update" class="btn btn-primary" type="button"
                                    ng-click="updateUser(User)">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>