<div class="row">
    <div class="col col-md-12">
        <button class="btn btn-default" ng-click="createUser()">Create User</button>
    </div>

</div>
<div class="row">
    <div class="col col-md-12">
        <div ag-grid="gridOptions" class="ag-fresh" style="height: 500px;width: 100%;"></div>
    </div>
    <div ng-include="'templates/user-Edit.html'"></div>
    <div ng-include="'templates/user-DintList.html'"></div>
    <div ng-include="'templates/user-GroupList.html'"></div>
</div>