<div class="modal fade" id="userDintList" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <h4 class="page-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        User Dints
                    </h4>

                    <div ag-grid="dintgridOptions" class="ag-fresh" style="height: 500px;width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>