<!doctype html>
<!--[if IE 8]>
<html class="no-js ie ie8 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Home</title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <!-- For retina-display iPads -->
    <!-- <link href="assets/img/icons/retina_ipad_home.png" rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png"/> -->
    <!-- For retina-display iPhones -->
    <!-- <link href="assets/img/icons/iphone_home.png" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png"/> -->
    <!-- For iPad 1 -->
    <!-- <link href="assets/img/icons/ipad_home.png" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png"/> -->
    <!-- For iPhone 3G, iPod Touch and Android -->
    <!-- <link href="assets/img/icons/iphone_home.png" rel="apple-touch-icon-precomposed" type="image/png"/> -->
    <!-- For Nokia -->
    <!-- <link href="assets/img/icons/iphone_home.png" rel="shortcut icon"/> -->
    <!-- For everything else -->
    <!-- <link href="assets/img/icons/favicon.png" rel="shortcut icon" type="image/png"/> -->
    <!-- <link href="assets/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon"/> -->

    <!-- IE8 and below fallbacks -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="assets/js/libs/respond/respond.min.js"></script>
    <![endif]-->

</head>

<body id="sitename">

<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/"
                                                                                     target="_blank">upgrade your
    browser</a> to improve your experience.</p>
<![endif]-->

<header class="wrapper-header" role="banner">

    <div class="grid">
        <div class="col-1">

            <h1 class="title-primary">Header</h1>

        </div>
    </div>

</header>
<!-- .wrapper-header -->

<main class="wrapper-primary" role="main">


    <div class="grid">
        <div class="col-1">

            <h2>Dint</h2>

            <div class="container" ng-app="dint" ng-cloak="">

                <div class="row" ng-controller="grid">
                    <table class="table table-responsive">
                        <tr>
                            <th>Created At</th>
                            <th>User</th>
                            <th>Title</th>
                            <th>location</th>
                            <th>Content</th>
                        </tr>

                        <tr ng-repeat="item in model">
                            <td>{{item.createdAt |date:'dd/MM/yyyy'}}</td>
                            <td>{{item.get('user')}}</td>
                            <td>{{item.get('title')}}</td>
                            <td><a ng-href="https://www.google.com/maps/@{{item.get('location')._latitude}},{{item.get('location')._longitude}},15z" target="_blank">Show On map</a></td>
                            <td>
                                <view-Template content="item.content" template-Type="text" ng-if="item.get('type')=='text'"></view-Template>
                                <view-Template content="item.content" template-Type="video" ng-if="item.get('type')=='video'"></view-Template>
                                <view-Template content="item.content" template-Type="photo" ng-if="item.get('type')=='photo'"></view-Template>
                                <view-Template content="item.content" template-Type="doodle" ng-if="item.get('type')=='doodle'"></view-Template>
                                <view-Template content="item.content" template-Type="audio" ng-if="item.get('type')=='audio'"></view-Template>

                            </td>
                        </tr>
                    </table>

                    <div class="row col-sm-3 col-sm-offset-4">
                        <ul class="pager">
                            <li ng-click="prePage" class="previous {{paging.pageNumber==1 ? 'disabled' : ''}}">
                                <a href="" ng-click="prePage()">
                                    previous
                                </a></li>
                            <li>{{paging.pageNumber}} - {{paging.pagesCount}}</li>
                            <li ng-click="nextPage"
                                class="next {{paging.pageNumber==paging.pagesCount ? 'disabled' : ''}}">
                                <a href="" ng-click="nextPage()">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>


            </div>

        </div>
    </div>

</main>
<!-- .wrapper-primary -->

<footer class="wrapper-footer" role="contentinfo">

    <div class="grid">
        <div class="col-1">

            <p>
                <small>&copy; 2014 Copyright Information</small>
            </p>

        </div>
    </div>

</footer>
<!-- .wrapper-footer -->

<!-- JavaScript -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<script>window.jQuery || document.write('<script src="assets/js/libs/jquery/jquery.min.js"><\/script>')</script>
<script src="assets/js/main.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/parse/parse.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>

<script src="app/boot.js"></script>
<!--<script src="http://localhost:35729/livereload.js"></script>-->


<!--[if lt IE 9]>
<script type="text/javascript" src="assets/js/libs/selectivizr/selectivizr.js"></script>
<![endif]-->

<!-- Google Analytics -->
<!-- <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script> -->

</body>
</html>
