<div class="form-group">
    <a ng-href="{{item.thumbnail}}">thumbnail</a>
    <file ng-model="item.thumb"></file>
</div>
<div class="form-group">
    <a ng-href="{{item.doodle}}">doodle</a>
    <file ng-model="item.doodleFile"></file>
</div>