<div class="form-group">
    <a ng-href="{{item.thumbnail}}">thumbnail</a>
    <file ng-model="item.thumb"></file>

    <a ng-href="{{item.photo}}">photo</a>
    <file ng-model="item.photoFile"></file>
</div>
