<div class="form-group">
    <a ng-href="{{item.thumbnail}}">thumbnail</a>
    <file ng-model="item.thumb"></file>
</div>
<div class="form-group">
    <a ng-href="{{item.video}}">video</a>
    <file ng-model="item.videoFile"></file>
</div>
