<span class='glyphicon' ng-class='{"glyphicon-star":data.flag===true,"glyphicon-star-empty":data.flag!==true }' aria-hidden='true'
        ng-click="toogleFlag(data)"></span>

<span class='glyphicon glyphicon-remove' aria-hidden='true'
      ng-click="deleteDint(data)"></span>

<a ng-href="https://www.google.com/maps/preview/@{{data.location._latitude}},{{data.location._longitude}},4z" target="_blank">
<span class='glyphicon glyphicon-map-marker' aria-hidden='true'
      ng-click="goToMap(data)"></span>
</a>