<span class='glyphicon glyphicon-pencil' aria-hidden='true' title="eidt"
        ng-click="editUser(data)"></span>

<span class='glyphicon glyphicon-remove' aria-hidden='true' title="delete"
      ng-click="deleteUser(data)"></span>
<span class='glyphicon glyphicon-list' aria-hidden='true' title="show Dints"
      ng-click="userDints(data)"></span>
<span class='glyphicon glyphicon-stats' aria-hidden='true' title="show Groups"
      ng-click="userGroups(data)"></span>